/* RESET & TYPOGRAPHY */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
}
body {
	background-color: #fff;
}
.column h2 {
  margin-top: 0;
  margin-bottom: 0.2em;
}
div,
.diagram-container h3,
.diagram-container p:not(.quote),
.info p {
  margin: 0;
}
.diagram-container {
  line-height: 1.4;
}
.diagram-container h3 {
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 0.2em;
}
.diagram-name {
  margin-top: 0;
}
.quote {
  margin: 1em 0 0.5em 0;
  font-style: italic;
}
.video {
  height: 410px;
  width: 230px;
  margin: 0.5rem;
}
.video.desktop {
  width: 430px;
  height: 355px;
}

/* ARTICLE LAYOUT */
.container {
  width: 800px;
  margin: 0 auto;
}
.diagram-embed {
  transform: translateX(-130px);
  margin: 1em 0;
  border: none;
  box-shadow: 0 4px 18px rgba(0,0,0, 0.2);
}
.diagram-container {
  margin: 0 auto;
}

/* INFO */
.info {
  margin: 0.5rem;
  max-width: 60em;
}
.info h1 {
  margin-bottom: 0;
  font-size: 1.2em;
}
.info p {
  font-size: 1em;
}

/* DIAGRAM */
.diagram-container {
  display: flex;
  font-size: 11px;
  font-family: "Fira Sans", sans-serif;
}
.column {
  margin: 0.5em;
}
.parent .column {
  color: blue;
}
.column:last-child {
  margin-right: 0;
}
.column:first-of-type:last-of-type {
  margin: 0;
}
.column > .block {
  margin-top: 0;
}
.adjacent {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: flex-start;
}
.vertical-group > .block:first-child {
  margin-top: 0;
}
.block {
  width: 12em;
  margin: 0.5em 0;
  padding: 0.5em;
  background-color:  #C7FFCE;
  border-radius: 2px;
  border: 1px solid #ccc;
}
.block.parent {
  width: auto;
  padding: 0.5em;
  border: 1px solid #ccc;
  background-color: #fff;
}
.block.neutral {
  background-color: #e8e8e8;
}
.block.no {
  background-color: #FFDAC5;
}
.block h3, .block p {
  max-width: 12em;
}
p.wide {
  max-width: 25em;
}
p.narrow {
  max-width: 12em;
}
.adjacent > .block {
  margin-left: 0.5em;
}
.adjacent > .block:first-child {
  margin-left: 0;
}
.adjacent > * {
  margin-top: 0;
  margin-bottom: 0;
}
.parent > .adjacent {
  margin-top: 0.5em;
}
.column > .adjacent:not(last-of-type) {
  margin-bottom: 0.5em;
}
.block:last-of-type {
  margin-bottom: 0;
}

.adjacent-videos {
  display: flex;
  justify-content: center;
}
.adjacent-videos .video {
  height: 320px;
  width: auto;
}
